.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: rgb(34, 19, 0);
}
.error b {
    font-size: 60px;
}
.error p {
    font-size: 30px;
    cursor: pointer;
}